<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>

            <h2>Are you sure you want to Delete this transaction?</h2>

        <div class="padding">
            <button class="button button-full button-assertive activated" ng-click="delete()">Delete</button>
            <button class="button button-full button-positive activated " ng-click="closeModal()">Cancel</button>
        </div>
    </ion-content>
</ion-modal-view>